
@{
    ViewData["Title"] = "FirstVick";
}

<h1>FirstAjax</h1>
<input type="text" id="txt1" />
<button class="btn btn-primary" id="btn1">開始</button>
<button class="btn btn-primary" id="btn2">停止</button>
<div id="div1" class="alert-info mt-3 p-3 w-25">123</div>

@section Scripts{
    <script>
        const btn = document.querySelector('#btn1');
        const btn = document.querySelector('#btn2');
        const theDiv = document.querySelector('#div1');
        const txt = document.querySelector('#txt1');
        

            const xhr = new XMLHttpRequest();
            xhr.addEventListener("load", () => {

                const data = xhr.responseText;
                theDiv.innerHTML += `<h2>${data}</h2>`
            })

        xhr.addEventListener('loadstart',()=>{
            btn.textContent = "執行中....";
            btn.setAttribute('disabled','disabled');
            theDiv.innerHTML += 'Vick開始<br>';

        });

        xhr.addEventListener('loadend',()=>{
            btn.textContent = "Click";
            btn.removeAttribute('disabled');
            txt.Value="";
            theDiv.innerHTML += 'Vick結束<br>';

        });

        xhr.addEventListener('timeout',()=>{
            theDiv.innerHTML += "忙碌中";
        })
        
        xhr.addEventListener('abort',()=>{
            theDiv.innerHTML += "停止了";
        })


        btn.addEventListener('click', () => {

            xhr.open("GET", `/api/index?name=${txt.value}`);
            xhr.timeout = 3000;
            xhr.send()

        });

        


    </script>
}
